h1
{ 
  margin: 1.5em;
  font-size: 1.5em;
  font-family: helvetica Arial serif;
  color: #454545;
  font-weight: bold;


 }

 body
 	{
 	 font-family: helvetica Arial serif;
 	 font-size: 1em;
 	 margin: 10px;
 	 line-height: 1.5;
    }
p
    {
     	color: #7a7a7a;
     	margin-left: 20px;
     	margin-bottom: 1.5em;

    }
blockquote
     {
     	font-weight: italic;
     	margin-right: 80px;
     	margin-bottom: 20px;
     	color: #444;
     	background-color: #e7f2fa;
     	border-left: 5px #8870FF solid;
     	padding-left: 15px ;

     }
em
	{
	  display: block;
	  text-align: right;
	}
a
   {
   	color: #8870FF;
   	margin: 20px;
    }