

.boutton-non{
  position: relative;
  margin: 400px auto;
  width: 100px;
  height: 40px;
  background-color: #ff6a6a;
  border-radius: 50px;
  border: 1px solid #d2d2d2;
}

.btn-checkbox {
  position: absolute;
  width: 100px;
  height: 40px;
  border-radius: 40px;
  cursor: pointer;
  z-index: 10;
  opacity: 0;
}

.boutton-oui  {
  position: absolute;
  width: 100px;
  height: 40px;
  background-color: #00ec81 ;
  border-radius: 50px;
  border: 1px solid #00ec81;
  opacity: 0;
}

.switch-btn {
  position: absolute;
  width: 41px;
  height: 41px ;
  border-radius: 50%;
  background-color: white;
  left: 1px;
  transition: 0.5s;
}

.btn-checkbox:checked ~ .boutton-oui {
  opacity: 1;
}

.btn-checkbox:checked ~ .switch-btn {
  left: 60px;
}

.boutton-non > p {
  color: white;
  position: absolute;
  left: 50px;
  top: -30%;
  font-size: 20px;
  font-weight: bold;
}

.boutton-oui p {
  color: white;
  position: absolute;
  left: 8px;
  top: -30%;
  font-size: 20px;
  font-weight: bold;
}
