.list1 
{
	list-style-type: none;
}



.list1 li:before 
            { 
            content:"";
            display : inline-block;
            height : 0;
            width : 0;
 	        border-top : 4px solid transparent;
 			border-bottom : 6px solid transparent;
 			border-left : 10px solid black;
 			
			}
.list2 
    {
	list-style-type: none;
	}



.list2 li:before 
            { 
             content:"";
           	 display : inline-block;
           	 margin-right: 5px;
             height: 10px;
    		 width: 10px;
    		 border-width: 2px 2px 2px 2px;
    		 background: white;
    		 border-color: blue;
    		 border-style: solid;
    		 -ms-transform: rotate(45deg); /* Internet Explorer */
    		 -moz-transform: rotate(45deg); /* Firefox */
   			 -webkit-transform: rotate(45deg); /* Safari et Chrome */
    		 -o-transform: rotate(45deg); /* Opera */
 			}
.list3 
            {
             counter-reset: blabla;
            }
.list3  li
            {
              counter-increment: blabla;
 			  list-style-type: none;
 			  margin-top: 5px;
 			  
            } 			
			
.list3  li:before  
             {
              content: counter(blabla);
              margin-right: 5px;
              width: 80px;
    		  height: 40px;
    		  border-radius: 30px;
    		  background: blue;
    		  color: white;
    		  padding: 2px 6px 2px 6px;
    		  
       		}


            