h1
  {
  	color : blue ;

  }
body
   {
   	background-color: skyblue;
   	font-family: verdana;
   	
   }
img
   {
   	border: 2px grey solid;
   
   }
   head
   {
   	font-family: verdana;
   }